.loading-wrap-group {
    font-size: 16px;
    // .wait{
    //     width:500px;height: 500px;
    //     position: fixed;
    //     left:0;right:0;top:0;bottom:0;
    //     margin: auto;
    // }
}

// 隔行
.bg-info {
    height: 30px;
    line-height: 30px;
}

// 下面表格
.table-responsive {
    overflow: auto
}