<div>
    <ui-header>
        <ui-header-branding>
            <a class="animate" href="#/">中国电信</a>
        </ui-header-branding>
        <ul class="nav navbar-nav navbar-left">
            <li class="app-name"><strong>物联网查询平台</strong></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ui-dropdown ui-keyboard-nav>
                <a ui-dropdown-toggle>Admin <i class="fa fa-caret-down"></i></a>
                <ul ui-dropdown-menu class="animate fade-in-down">
                    <li><a href="#/">退出<i class="fa fa-power-off pull-right"></i></a></li>
                </ul>
            </li>
        </ul>
    </ui-header>
</div>