<div class="page-header clearfix">
    <ol class="breadcrumb">
        <li><a href="#/home">首页</a></li>
        <li><a href="#/log/basic">账务详单查询</a></li>
        <li class="active">销账文件查询</li>
    </ol>
</div>

<div>
    <!-- <p class="bg-info">销账查询</p>
    <form class="form-inline margin-bottom-20"> -->
        <!-- <div class="form-group margin-right-20">
            <label for="exampleInputName2">所属地区:</label>
            <select class="form-control">
                <option value="0">北京</option>
                <option value="1">上海</option>
                <option value="2">南京</option>
            </select>省(市)
            <select class="form-control">
                    <option value="0">北京</option>
                    <option value="1">上海</option>
                    <option value="2">南京</option>
                </select>市(区)
        </div> -->
        <!-- <div class="form-group margin-right-20">
            <label for="exampleInputName2">用户号码：</label>
            <input type="text" class="form-control" ng-model="vm.num">
        </div> -->
        <!-- <div class="form-group margin-right-20">
            <label for="exampleInputName2">转售商ID:</label>
            <select class="form-control">
                <option value="0">物联网公司</option>
            </select>
        </div> -->
        <!-- <div class="form-group margin-right-10">
            <label>缴费月份:</label>
            <input class="form-year form-control" ui-datepicker-popup type="text" ng-model="vm.year" view="year" format="yyyy" style="width:70px"
            />年
            <input class="form-month form-control" ui-datepicker-popup type="text" ng-model="vm.month" view="month" format="MM" style="width:55px"
            />月
        </div> -->
        <!-- <button type="submit" class="btn btn-primary" ng-click="vm.submitTable()">查询</button> -->
    <!-- </form> -->
    <!-- 用户资料查询结果 -->
    <!-- <div style="overflow:auto;min-height:140px" class="padding-top-10  padding-bottom-20">
        <table style="table-layout:fixed;width:1200px" class="table table-striped table-bordered table-hover text-center resizable">
            <thead>
                <tr>
                    <th width="6%">编号</th>
                    <th>销账金额(分)</th>
                    <th>账期</th>
                    <th>本地零头</th>
                    <th>上次零头</th>
                    <th>销账总额</th>
                    <th>付款流水</th>
                    <th>是否可以返销</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.table">
                    <td>{{$index+1}}</td>
                    <td>{{item['Billing-Cycle-Group'][0]['payment_amount']}}</td>
                    <td>{{item['Billing-Cycle-Group'][0]['billing_cycle_id']}}</td>
                    <td>{{item["current_change"]}}</td>
                    <td>{{item["previous_change"]}}</td>
                    <td>{{item["sum_charge"]}}</td>
                    <td>{{item["Payment-Serial-Nbr"]}}</td>
                    <td>{{item["reverse_offer"]?"可返销":"不可返销"}}</td>
                </tr>
            </tbody>
        </table> -->
        <!-- loading -->
        <!-- <ui-loading-wrap loading="vm.scp.loading" list="vm.scp.list" result="vm.scp.result" message="vm.scp.msg"></ui-loading-wrap> -->
    <!-- </div>
    <p class="bg-info">销账文件查询</p> -->
    <form class="form-inline margin-bottom-20">
        <div class="form-group margin-right-20">
            <label for="exampleInputName2">用户号码:</label>
            <input type="text" class="form-control" ng-model="vm.num1">
        </div>
        <div class="form-group margin-right-10">
            <label>账期：</label>
            <input class="form-year form-control" ui-datepicker-popup type="text" ng-model="vm.year" view="year" format="yyyy" style="width:70px"
            />年
            <input class="form-month form-control" ui-datepicker-popup type="text" ng-model="vm.month" view="month" format="MM" style="width:55px"
            />月
        </div>
        <button type="submit" class="btn btn-primary" ng-click="vm.submitTable1()">查询</button>
    </form>
    <!-- 销账文件查询 -->
    <div style="overflow:auto;min-height:140px" class="padding-top-10  padding-bottom-20">
        <table style="table-layout:fixed;width:1200px" class="table table-striped table-bordered table-hover text-center resizable">
            <thead>
                <tr>
                    <th width="6%">编号</th>
                    <th>文件名</th>
                    <th>入库时间</th>
                    <th>账户ID</th>
                    <th>业务号码</th>
                    <th>收费省编码</th>
                    <th>归属账期</th>
                    <th>销账总金额（元）</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.table1">
                    <td>{{$index+1}}</td>
                    <td>{{item["file_name"]}}</td>
                    <td>{{item["create_date"]}}</td>
                    <td>{{item["acct_id"]}}</td>
                    <td>{{item["acc_nbr"]}}</td>
                    <td>{{item["prov"]}}</td>
                    <td>{{item["billing_cycle"]}}</td>
                    <td>{{item["amount"]}}</td>
                </tr>
            </tbody>
        </table>
        <!-- loading -->
        <ui-loading-wrap loading="vm.scp1.loading" list="vm.scp1.list" result="vm.scp1.result" message="vm.scp1.msg"></ui-loading-wrap>
    </div>
</div>